      <div id="" class="ui-layout-west">
      	<%= render :template=> "builder/controls"%>
        <%= render :template=> "builder/toc"%>
      </div>
      <div class="ui-layout-center scroll_vert" style="background-image: url(http://dyy0c05qf50mj.cloudfront.net/assets/pattern-c4dfee45de81defeeddeb28705400809.jpg); background-attachment: fixed">
        <%= render :template=> "builder/editor_layout"%>
        <%= render :template=> "builder/code_layout"%>
      </div>
      <div id="" class="ui-layout-east" style="padding:0px">
        <%= render :template => 'builder/widget_editor'%>
      </div>

